BankClient/xml-resources/web-service-references/BankWebService/wsdl/ltkial_8080/BankWebService/BankWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.bank.swd.fhs.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.bank.swd.fhs.at/" name="BankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.bank.swd.fhs.at/" schemaLocation="http://ltkial:8080/BankWebService/BankWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="findBank">
<part name="parameters" element="tns:findBank"/>
</message>
<message name="findBankResponse">
<part name="parameters" element="tns:findBankResponse"/>
</message>
<message name="addBank">
<part name="parameters" element="tns:addBank"/>
</message>
<message name="addBankResponse">
<part name="parameters" element="tns:addBankResponse"/>
</message>
<message name="getAllBank">
<part name="parameters" element="tns:getAllBank"/>
</message>
<message name="getAllBankResponse">
<part name="parameters" element="tns:getAllBankResponse"/>
</message>
<portType name="BankWebService">
<operation name="findBank">
<input wsam:Action="http://ws.bank.swd.fhs.at/BankWebService/findBankRequest" message="tns:findBank"/>
<output wsam:Action="http://ws.bank.swd.fhs.at/BankWebService/findBankResponse" message="tns:findBankResponse"/>
</operation>
<operation name="addBank">
<input wsam:Action="http://ws.bank.swd.fhs.at/BankWebService/addBankRequest" message="tns:addBank"/>
<output wsam:Action="http://ws.bank.swd.fhs.at/BankWebService/addBankResponse" message="tns:addBankResponse"/>
</operation>
<operation name="getAllBank">
<input wsam:Action="http://ws.bank.swd.fhs.at/BankWebService/getAllBankRequest" message="tns:getAllBank"/>
<output wsam:Action="http://ws.bank.swd.fhs.at/BankWebService/getAllBankResponse" message="tns:getAllBankResponse"/>
</operation>
</portType>
<binding name="BankWebServicePortBinding" type="tns:BankWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findBank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllBank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWebService">
<port name="BankWebServicePort" binding="tns:BankWebServicePortBinding">
<soap:address location="http://ltkial:8080/BankWebService/BankWebService"/>
</port>
</service>
</definitions>