BankClient/xml-resources/web-service-references/BankWebService/wsdl/ltkial_8080/BankWebService/BankWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.bank.swd.fhs.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.bank.swd.fhs.at/">

<xs:element name="addBank" type="tns:addBank"/>

<xs:element name="addBankResponse" type="tns:addBankResponse"/>

<xs:element name="bank" type="tns:bank"/>

<xs:element name="findBank" type="tns:findBank"/>

<xs:element name="findBankResponse" type="tns:findBankResponse"/>

<xs:element name="getAllBank" type="tns:getAllBank"/>

<xs:element name="getAllBankResponse" type="tns:getAllBankResponse"/>

<xs:complexType name="findBank">
<xs:sequence>
<xs:element name="bic" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBankResponse">
<xs:sequence>
<xs:element name="return" type="tns:bank" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bank">
<xs:sequence>
<xs:element name="bic" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBank">
<xs:sequence>
<xs:element name="bic" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBankResponse">
<xs:sequence>
<xs:element name="return" type="tns:bank" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBank">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllBankResponse">
<xs:sequence>
<xs:element name="return" type="tns:bank" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>